# IDE Workspaces
.idea
.vscode

# MacOS
.DS_Store

# Composer
vendor
composer.lock

# Other
storage/cache/templates/*
!storage/cache/templates/.gitkeep
storage/cache/favourites/*
!storage/cache/templates/.gitkeep