<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/assets/css/favourites.css">
    <link rel="stylesheet" href="/assets/lib/fontawesome/css/all.min.css">
</head>
<body>

{{ include('components/header.twig') }}

<main class="container">
    {% block main %}{% endblock %}
</main>

{{ include('components/footer.twig') }}

</body>
</html>