:root {
    --black: #000;
    --white: #fff;
    --light-gray: #f3f4f6;
    --gray: #9ca3af;
    --light-orange: #fff7ed;
    --orange: #f97316;
    --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--white);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.navbar .navbar-logo {
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--black);
}

.navbar .nav {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navbar .nav .nav-link {
    text-decoration: none;
    color: var(--gray);
    padding: 0.5rem 1.25rem;
    font-weight: normal;
    transition: .25s linear;
}

.navbar .nav .nav-link:hover {
    color: var(--black);
    transform: scale(1.1);
}

.navbar .nav .nav-link.active {
    color: var(--black);
    font-weight: bold;
}

main {
    margin-top: 110px;
    padding-bottom: 5rem;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
}

.category .category-title,
.category .category-description {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.category .category-description {
    color: var(--gray);
}

.dishes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .dishes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}

@media (min-width: 1200px) {
    .dishes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
    }
}

.dishes .dish {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    transition: .25s var(--transition);
    text-decoration: none;
    color: inherit;
}
.dishes .dish.dish-link:hover {
    //transform: scale(1.05);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.dishes .dish .dish-header .dish-name {
    font-weight: bold;
    font-size: 1rem;
}

@media (min-width: 1400px) {
    .dishes .dish .dish-header .dish-name {
        font-size: 1.25rem;
    }
}

.dishes .dish .dish-body {
    display: flex;
    justify-content: space-between;
}

.dishes .dish .dish-body .dish-description {
    font-size: .875rem;
}

.dishes .dish .dish-body .dish-favorite {
    background: none;
    border: none;
    outline: none;
    color: var(--black);
    cursor: pointer;
    transition: .25s var(--transition);
}
.dishes .dish .dish-body .dish-favorite:hover,
.dishes .dish .dish-body .dish-favorite.fav {
    color: var(--orange);
}

.dishes .dish .dish-body .dish-favorite.fav:hover {
    color: var(--gray);
}

.container {
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
}

.alert {
    background-color: var(--light-orange);
    color: var(--orange);
    border-radius: 10px;
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 2rem 0;
}