{% extends "layouts/app.layout.twig" %}

{% block content %}
<h1>Error 404?</h1>
<p>Well that's a bummer. I swear it was somewhere here...</p>
<p><a href="index.php">Come back to home page!</a></p>
{% endblock %}