{% extends "layouts/app.layout.twig" %}

{% block main %}
    <section class="container">
        <div class="home-header">
            <img src="/assets/images/food-plater.jpg" alt="Restaurant Header Image" class="home-header-image">

            <div class="home-header-side">
                <h1 class="page-title">Restaurant</h1>
                <p>Japanese Restaurant</p>

                <div style="display:flex;gap: 1rem">
                    <a href="/menu.php" class="btn btn-primary">See the menu</a>
                    <a href="#reservation" class="btn btn-secondary">Book a table</a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <img src="/assets/images/header.jpg" alt="Photo of dishes">
    </section>

    <section style="padding: 5rem 0;">
        <div class="container">
            <div class="page-title" style="text-align: center">Menu</div>
            <div class="category-tabs">
                <a href="/menu.php" class="category-tab">
                    All
                </a>
                {% for category in __menuCategories %}
                    <a href="/menu.php?category={{ category.id }}" class="category-tab">
                        {{ category.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="page-title" style="text-align: center">
                About us
            </div>
            <div style="display:flex;justify-content:space-between;gap:1rem">
                <div>
                    <img src="/assets/images/about_us.jpg" alt="About us dish">
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid delectus
                    deleniti dolore incidunt quis sequi, suscipit tempore unde voluptates. Culpa
                    deserunt doloribus esse in officia, quia sapiente! Dolor, placeat?
                </div>
            </div>
        </div>
    </section>

    <section style="padding: 5rem 0;">
        <div class="container">
            <div class="page-title" style="text-align:center;">
                Key people
            </div>

            <div class="people">
                <div class="people-item">
                    <img src="/assets/images/ceo.jpeg" alt="CEO">
                    <div>Amir Wild, CEO</div>
                    <p style="text-align:center;">
                        Amir Wild is a 35-year-old owner of the Restaurant who enjoys great food.
                        He always wanted to open a restaurant of his own to serve people with
                        the best dishes around the town.
                    </p>
                </div>
                <div class="people-item">
                    <img src="/assets/images/chief.jpeg" alt="Chief">
                    <div>Laocoön Mason, Chef</div>
                    <p style="text-align:center;">
                        Laocoön Mason is the best chef in the country. He won several competitions,
                        and also he is one of the best students of Gordon Ramsay.
                    </p>
                </div>
                <div class="people-item">
                    <img src="/assets/images/waiter.jpeg" alt="Waiter">
                    <div>Mauri Paulauskas, Head Waiter</div>
                    <p style="text-align:center;">
                        He always come to work with a big smile. He is ambitious and hard-working.
                        A lot of people like to talk that he is funny, you think that is a lie? Come
                        and find out!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section style="padding: 5rem 0;" id="reservation">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title">Opening hours</div>
                    <ul>
                        <li> <span class="bolded">Mon - Fri: </span> 8:00am - 9:00pm </li>
                        <li> <span class="bolded">Sat - Sun: </span> 8:00am - 11:00pm </li>
                        <li> <span class="bolded">Call us: </span> + 1 (650) 513 0514 or book a table using form</li>
                    </ul>
                </div>
                <div class="col">
                    <div class="page-title">Create reservation</div>
                    <form method="post" action="/createreservation.php">
                        <div class="form-input">
                            <label for="full_name">Name</label>
                            <input type="text" id="full_name" name="full_name" placeholder="Full Name" required>
                        </div>

                        <div class="form-input">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="Email" required>
                        </div>

                        <div class="form-input">
                            <label for="phone">Phone</label>
                            <input type="tel" id="phone" name="phone" placeholder="Phone" required>
                        </div>

                        <div class="form-input">
                            <label for="date">Date</label>
                            <input type="date" id="date" name="date" required>
                        </div>

                        <div class="form-input">
                            <label for="time">Time</label>
                            <input type="time" id="time" name="time" required>
                        </div>

                        <div style="display:flex;justify-content:flex-end;margin-top:1rem;">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}