{% extends "layouts/app.layout.twig" %}

{% block main %}

 <img src="main_page_image.jpg" alt="Main page image"> 

<h1>Restaurant</h1>
<p>Japanese Restaurant</p>

 <button type="button">See the menu</button> 
 <button type="button">Book a table</button> 

 <img src="dishes_strip.jpg" alt="Photo of dishes"> 

 <img src="about_us" alt="About us dish"> 

 <p>About us</p>
 <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a est ac sem egestas mattis. 
 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
 Nulla eget lectus vel elit semper varius sit amet sollicitudin libero.</li>

<p>Opening hours</p>
 <li> <span class="bolded">Mon - Fri: </span> 8:00am - 9:00pm </li>
 <li> <span class="bolded">Sat - Sun: </span> 8:00am - 11:00pm </li>

 <li> <span class="bolded">Call us: </span> + 1 (650) 513 0514 or book a table using form</li>



{% endblock %}