{% extends "layouts/app.layout.twig" %}

{% block main %}
    <div class="container">
        <h1>{{ title }}</h1>
        <p>
            {{ message }}
        </p>
        <p><a href="/">Come back to home page!</a></p>
    </div>
{% endblock %}