<header>
    <nav class="navbar container">
        <a href="/" class="navbar-logo">
            <i class="fas fa-bowl-rice"></i>
            Restaurant
        </a>
        <div class="nav">
            <a href="/" class="nav-link">Home</a>
            <a href="/menu.php" class="nav-link">Menu</a>
            <a href="/favourites.php" class="nav-link">
                <i class="far fa-heart"></i>
            </a>
        </div>
    </nav>
</header>